.site-body-left-column-site-name{
  visibility: collapse;
}
.site-body-left-column-site-logo{
  width: 50%;
  height: auto;
}
img {
  max-width:100%;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}
img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}